body {
  margin: 0;
}

.ant-upload,
.ant-upload-select {
  width: 100% !important;
}

@media (max-width: 648px) {
  .ant-picker-dropdown {
    transform: translateX(58px);
  }
  .ant-picker-datetime-panel {
    flex-direction: column;
  }
}
